<html>
  <body>
    <h1>Cadastro de livros</h1>
    <form action="/livros" method="post">

      <if (data.livro.id === undefined)>
        <input type="hidden" id="id" name="id" value="" />
      </if>
      <else>
        <input type="hidden" id="id" name="id" value="${data.livro.id}" />
      </else>
      
      <div>
        <label for="titulo">Titulo:</label>
        <if (data.livro.titulo === undefined)>
          <input type="text" id="titulo" name="titulo" value="" placeholder="coloque o titulo" />
        </if>
        <else>
          <input type="text" id="titulo" name="titulo" value="${data.livro.titulo}" placeholder="coloque o titulo" />
        </else>
      </div>
      <div>
        <label for="preco">Preço:</label>
        <if (data.livro.preco === undefined)>
          <input type="text" id="preco" name="preco" value="" placeholder="150.25" />
        </if>
        <else>
          <input type="text" id="preco" name="preco" value="${data.livro.preco}" placeholder="150.25" />
        </else>
      </div>
      <div>
        <label for="descricao">Descrição:</label>
        <textarea cols="20" rows="10" id="descricao" name="descricao" placeholder="fale sobre o livro">${data.livro.descricao}</textarea>
      </div>

      <input type="submit" value="Salvar" />
    </form>
  </body>
</html>